<h2> <span>Yiddish Proverb/ No. <%= @proverb.id %></span></h2>
<p>Here's the <u>best Yiddish Proverb</u> you can get! </p>

<h1 class="proverb">"<%= @proverb.proverb %>"</h1>
<h1 class="yiddish"><%= @proverb.yiddish %></h1>
<h2 class="transliteration"><%= @proverb.transliteration %></h1>
<h2 class="pull-right source">- <%= @proverb.source %></h2>

<br class="clear" /> <br /> <br /> <br />
